/* Initially hide the div with class "training" */
.training {
    display: none;
  }
  
  /* Style for the button */
  #showButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #showButton:hover {
    background-color: #45a049;
  }
  
  #academicShowButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #academicShowButton:hover {
    background-color: #45a049;
  }
  
  #citizenShowButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #citizenShowButton:hover {
    background-color: #45a049;
  }
  .citizen {
    display: none;
  }

  #imagePreview {
    width: 3.5cm;  /* Set width to 3.5 cm */
    height: 4.5cm; /* Set height to 4.5 cm */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-top: 10px;
    display: none; /* Initially hide the image preview */
  }